:root {
    --primary: #0484ba;
    --secondary: #0e6191;
    --third: #022f61;
    --light: aliceblue;
    --shadow: #727272;
    --dark: #212121;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 0px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: var(--primary);
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--shadow);
}

nav .active a,
nav a:hover {
    background-color: var(--primary);
    color: var(--light);
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    margin: 0;
    padding: 0;
    color: var(--light);
    font-size: 50px;
    text-shadow: 0px 1px 0px var(--shadow);
    max-width: 450px;
}

.banner_headline h2 {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    color: var(--light);
    font-size: 20px;
    text-shadow: 0px 1px 0px var(--shadow);
    max-width: 450px;
    text-align: justify;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    padding: 20px;
    flex: 1;
    color: var(--light);
}

.banner1 {
    background-color: var(--primary);
}

.banner2 {
    background-color: var(--secondary);
}

.banner3 {
    background-color: var(--third);
}

.option_title {
    font-size: 20px;
}

.option_description {
    font-size: 14px;
    margin: 20px 0px;
    text-align: justify;
    max-height: 90%;
}

.option_description table {
    display: flex;
    width: 100%;
}

.option_description table tbody {
    width: 100%;
}

.option_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--shadow);
}

.banner_options a {
    padding: 5px;
    display: inline-block;
    border: 1px solid var(--light);
    color: var(--light);
    font-size: 14px;
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
}

#content section {
    flex: 2;
}

#content aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: var(--dark);
    font-size: 18px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: var(--primary);
    margin-top: 10px;
}

.widget_body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.widget_body .card {
    width: 150px;
    height: 150px;
    background-color: var(--primary);
    color: var(--light);
    text-align: center;
    line-height: 150px;
}

.widget_body a {
    text-decoration: none;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}


article .news_data {
    display: flex;
}

article .news_posted_at {
    padding: 10px;
    background-color: var(--third);
    color: var(--light);
    font-size: 10px;
    margin-right: 2px;
}

article .news_comments {
    padding: 10px;
    background-color: var(--primary);
    color: var(--light);
    font-size: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin: 25px 0px;
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
}

article .news_resume {
    color: var(--shadow);
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 30px;
    text-align: justify;
}

.column {
    flex-direction: column;
}

footer {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
}

.footer_options {
    display: flex;
    flex: 1;
}

.footer_1,
.footer_2,
.footer_3 {
    flex: 1;
    color: var(--light);
    padding: 20px;
}

.footer_1 {
    background-color: var(--primary);
}

.footer_2 {
    background-color: var(--secondary);
}

.footer_3 {
    background-color: var(--third);
}

.footer_area {
    display: flex;
}

.footer_area_item {
    flex: 1;
    color: var(--light);
}

footer .widget_title_text {
    color: var(--light);
}

.footer_copyright {
    border-top: 1px solid var(--shadow);
    height: 40px;
    line-height: 40px;
    color: var(--shadow);
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
}

@media (max-width:830px) {

    header {
        height: auto;
    }

    header .container {
        flex-direction: row;
    }

    .logo {
        padding-left: 10px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--light);
    }

    .container {
        flex-direction: column;
    }

    #content section,
    #content aside {
        padding: 20px;
    }

    .footer_copyright {
        padding-left: 20px;
    }

}

@media (max-width:645px) {

    .banner_headline {
        padding: 20px;
    }

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .footer_options {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

}